.App {
  text-align: center;
}




body {
  background-color: #1a1a1d;
  text-align: center;
  
}

p {
  color: #cccccc;
}

ul {
  list-style-type: none;

}

li {
  float: left;
  padding: 5px;
}

.grid {
  width: auto;
    height: fit-content;
    margin: auto;
    
    padding-left: 0px;
    padding-bottom: 0px;

    display: grid;
    
}



a {
  color: #cccccc
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
